footer{
    font-family: 'Nunito Sans';
    padding: 30px;
    background-color: var(--dark-pink);
    display: flex;
    justify-content: flex-end;
    color:var(--white);
}
#topBtn {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color:var(--white);
    padding : 0 20px;
}